@use "../../styles/partials/variables";
@use "../../styles/partials/padding";
@use "../../styles/partials/mixins";

.home-btn {
  background: none;
  color: variables.$primary-forestgreen;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  gap: 8px;
  border: none;
  cursor: pointer;
  @include mixins.flex();
  @include padding.px(16px);
  @include padding.py(8px);

  svg {
    fill: variables.$primary-forestgreen;
  }

  &:hover {
    color: variables.$secondary-seagreen;

    svg {
      fill: variables.$secondary-seagreen;
    }
  }
}

.active {
  background: variables.$primary-forestgreen;
  color: variables.$secondary-white;

  svg {
    fill: variables.$secondary-white;
  }
}