@use "../../styles/partials/variables";
@use "../../styles/partials/padding";

.tag {
    background: variables.$secondary-white;
    color: variables.$primary-black;
    font-size: 14px;
    font-family: 'Outfit-Medium', sans-serif;
    border: 1px solid variables.$secondary-seagreen;
    border-radius: 8px;
    cursor: pointer;
    @include padding.p(6px);

    &:hover {
        background: variables.$primary-forestgreen;
        color: variables.$secondary-white
    }
}