@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid($grid-cols: 1fr) {
  display: grid;
  grid-template-columns: $grid-cols;
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
