// light regular (Newsreader)
@font-face {
  font-family: "Newsreader-Regular";
  src: url("../../assets/fonts/Newsreader-Regular.woff") format("woff");
  font-style: normal;
}

// light (Newsreader)
@font-face {
  font-family: "Newsreader-Light";
  src: url("../../assets/fonts/Newsreader-Light.woff") format("woff");
}

// light italic (Newsreader)
@font-face {
  font-family: "Newsreader-LightItalic";
  src: url("../../assets/fonts/Newsreader-LightItalic.woff") format("woff");
}

// light (Outfit)
@font-face {
  font-family: "Outfit-Light";
  src: url("../../assets/fonts/Outfit-Light.woff") format("woff");
}

// medium (Outfit)
@font-face {
    font-family: "Outfit-Medium";
    src: url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  }
