@use "../../styles/partials/margin";
@use "../../styles/partials/padding";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins";
@use "../../styles/partials/variables";

.photo-page-container {
  font-family: "Outfit-Medium", sans-serif;
  @include padding.py(24px);
  @include padding.px(16px);

  .image-card {
    width: 100%;
    border: 2px solid variables.$secondary-seagreen;
    border-radius: 12px;
    @include margin.mx(auto);

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }

    .tags-container {
      gap: 8px;
      @include mixins.flex($justify: start);
      @include padding.p(16px);
    }

    .likes-date-container {
      @include mixins.flex($justify: space-between);
      @include padding.px(16px);

      .likes {
        gap: 6px;
        @include mixins.flex();

        button {
          background: none;
          border: none;
          line-height: 0;
          cursor: pointer;
        }
      }
    }

    .photographer-name {
      @include padding.p(16px);
    }
  }
}


.form-container {
  font-family: "Outfit-Medium";
  @include mixins.flex($direction: column);
  @include margin.my(16px);
  @include padding.px(16px);

  .form__input {
    width: 100%;
    @include mixins.flex($direction: column, $align: flex-start);
    @include margin.my(8px);

    label {
      @include margin.mb(8px);
    }

    input, textarea {
      font-family: "Outfit-Medium";
      width: 100%;
      border: 2px solid variables.$secondary-seagreen;
      border-radius: 6px;
      outline: none;
      resize: none;
      min-height: 30px;
      min-width: 280px;
      @include padding.p(8px);
      // on desktop / tablet = padding 16px x axis, 8px y axis 

      &:focus, &:active {
        border-color: variables.$primary-forestgreen;
      }

      &:invalid {
        border-color: variables.$error;
      }
    }


  }

  .form__submit-btn {
    background: variables.$primary-forestgreen;
    color: variables.$secondary-sage;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    @include margin.m(12px, 6px, 0px, auto);
    // @include margin.ml(auto);
    // @include margin.mt(8px);
    // @include margin.mt(8px);
    @include padding.py(10px);
    @include padding.px(16px);

    &:hover {
      background: variables.$secondary-seagreen;
      color: variables.$primary-forestgreen;
    }
  }
}



.comments-container {
  font-family: "Outfit-Medium", sans-serif;
  @include padding.px(16px);

  .comments__comment-count {
    @include margin.mb(16px);
  }

  
}
