@use "../../styles/partials/variables";
@use "../../styles/partials/padding";
@use "../../styles/partials/margin";
@use "../../styles/partials/mixins";
@use "../../styles/partials/typography";

nav {
    height: 80px;
    @include mixins.flex($justify: space-between);

    h1 {
        color: variables.$primary-black;
        font-size: 30px;
        font-family: "Newsreader-Regular", sans-serif;
        font-weight: 500;
    }
}

.filter__tags-container {
    background: variables.$secondary-sage;
    gap: 8px;
    @include mixins.flex($direction: column, $align: flex-start);
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s ease-in-out;

    .filter__header {
        font-family: "Outfit-Medium";
        letter-spacing: 1px;
    }

    .filter__tags {
        @include mixins.flex($justify: flex-start);
        flex-wrap: wrap;
        gap: 8px;
    }

    // added this class for the smooth opening transition of tags container
    &.open {
        height: fit-content;
        max-height: 700px;
    }
}