@use "./styles/partials/variables";
@use "./styles/partials/padding";
@use "./styles/partials/margin";
@use "./styles/partials/mixins";
@use "./styles/partials/globals";
@use "./styles/partials/typography";

main {
    @include padding.py(48px);
    @include padding.px(16px);

    .hero__header {
        font-family: "Outfit-Light", sans-serif;
        font-weight: 300;
    }

    .hero__content {
        font-family: "Newsreader-Light", sans-serif;
        font-weight: 300;
        font-size: 32px;
        line-height: 54px;
        @include margin.mt(24px);

        .hero__content-emphasized {
            font-family: "Newsreader-LightItalic", sans-serif;
        }
    }

    .card-container {
        gap: 16px;
        @include mixins.flex($direction: column);
        @include padding.pt(64px);
    }
}