@import "./styles/partials/variables";
@import "./styles/partials/mixins";
@import "./styles/partials/globals";
@import "./styles/partials/typography";
@import "./styles/partials/margin";
@import "./styles/partials/padding";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $primary-pistachio;
    color: $primary-black;
    @include px(16px);
}